<%-include('partials/encabezado.html');%>
<%-include('partials/menNav.html');%>
        <%
            let grado = "";
            let subtotal = 0.0;
            let impuesto = 0.0;
            let totPagar = 0.0;

            if(nivEstu == 1.20){
                subtotal = (dias * pago) * 1.20;
                grado = "Licenciatura";
            }else if(nivEstu == 1.50){
                subtotal = (dias * pago) * 1.50;
                grado = "Maestría";
            }else{
                subtotal = (dias * pago) * 2;
                grado = "Doctorado";
            }
        
            impuesto = subtotal * 0.16;
            totPagar = subtotal - impuesto;
            %>

            <div id="prin">
            <main class="container p-3 mb-2 bg-info border border-dark">
            <table class="table table-borderless">
                <thead>
                    <th>Nombre</th>
                    <th>Grado</th>
                    <th>Dias Trabajados</th>
                    <th>Pago por dia</th>
                </thead>
                <tbody>
                    <tr>
                        <td><%=nombre%></td>
                        <td><%=grado%></td>
                        <td><%=dias%></td>
                        <td>$<%=pago.toFixed(2)%></td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td>SubTotal</td>
                        <td>$<%=subtotal.toFixed(2)%></td>
                    </tr>
                    <tr>
                    <td> </td>
                    <td> </td>
                    <td>Impuestos 16%</td>
                    <td>$<%=impuesto.toFixed(2)%></td>
                    </tr>
                    <tr>
                    <td> </td>
                    <td> </td>
                    <td>Total a Pagar</td>
                    <td>$<%=totPagar.toFixed(2)%></td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-group" role="group">
                <center>
                <button type="submit" class="btn btn-dark">Enviar</button>
                <a href="/"><button class="btn btn-dark">Limpiar</button></a>
            </center>
            </div>
        </main>
        </div>
            <%-include('partials/piePagina.html');%>