<%-include('partials/encabezado.html');%>
<%-include('partials/menNav.html');%>
    <main class="container p-3 mb-2 bg-info border border-dark">
        <form method="post" action="/mostrar">
            <div class="mb-3">
                <label for="" class="form-label">Numero de Contrato:</label>
                <input type="text" id="numCon" name="numCon" placeholder="Contrato" required class="form-control">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Nombre:</label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre" required required class="form-control">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Domicilio:</label>
                <input type="text" id="domicilio" name="domicilio" placeholder="Domcilio" required required class="form-control">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Nivel de estudios:</label>
                <select id="nivEstu" name="nivEstu" class="form-select">
                    <option value="1.20">Licenciatura</option>
                    <option value="1.50">Maestría</option>
                    <option value="2">Doctorado</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Pago diario base:</label>
                <input type="number" id="pago" name="pago" placeholder="Pago" required required class="form-control" step="any" min="0">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Días Trabajados:</label>
                <input type="number" id="dias" name="dias" placeholder="Dias Trabajados" required required class="form-control" step="any" min="0">
            </div>

            <div class="btn-group" role="group">
                <center>
                    <button type="submit" class="btn btn-dark">Enviar</button>
                    <button type="reset" class="btn btn-dark">Limpiar</button>
                </center>
            </div>

            
        </form>
    </main>
<%-include('partials/piePagina.html');%>