*{
    margin: 0 auto;
    padding: 0 auto;

}

body{
    background-color: antiquewhite;
    font-family: Arial;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

header img{
    width: 180px;
    height: 140px;
}

header h1{
    margin-top: 30px;
    margin-bottom: 30px;
}

nav{
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
    color: antiquewhite;
    size: 30px;
}

footer{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    size: 20px;
    height: 30px;
}

#prin{
    min-height: calc(100vh - 550px);
    padding-top: 100px;
}